<div class="row">
  <div class="col-xs-3">
    <ul>
      {{#each model as |ingredient|}}
        <li>{{link-to ingredient.name "ingredients.ingredient" ingredient }}</li>
      {{/each}}
    </ul>
  </div>
  <div class="col-xs-9">
    {{outlet}}
  </div>
</div>
