<div class="col-xs-6">
<ul>
{{#each model.cocktails as |cocktail|}}
<li>
  <em><a href="#" {{action "selectCocktail" cocktail}}>{{cocktail.name}}</a></em>
  <p>{{cocktail.description}}</p>
</li>
{{/each}}
</ul>
</div>
<div class="col-xs-6">
{{#if selectedCocktail}}
  Selected
  {{single-cocktail cocktail=selectedCocktail}}
{{/if}}
</div>
