<div class="row">
  <h3>Ingredient list</h3>
  <label for="search">Search</label>
  {{input value=q id="search"}}
</div>
<div class="row">
  <div class="col-xs-3">
    {{#each filteredResults as |ingredient|}}
      <div class="ingredient-{{ingredient.id}}">
        {{link-to ingredient.name "ingredients.ingredient" ingredient}}
      </div>
    {{/each}}
  </div>
  <div class="col-xs-9">
    <div class="row">
      {{outlet}}
    </div>
  </div>

</div>
